html{
    overflow: auto;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
}
.container-main{
    width: auto;
    padding: 0px;
}

.align-center{
    text-align: center;
}

.message{
    padding-top:20px;
}

.chg-msg-prev{
    position: absolute;
    z-index: 10;
    bottom: 10px;
    left:0;
}

.chg-msg-nx{
    position: absolute;
    z-index: 10;
    bottom: 10px;
    right:0;
}

.messages{
	font-size: 1.5em;
	font-family: Lucida Console;
}